In [6]:
import pandas as pd
import numpy as np

In [7]:
data_source = "https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data"

names = ["Wife's age", "Wife's education", "Husband's education", "Number of children ever born", "Wife's religion", 
"Wife's now working?", "Husband's occupation", "Standard-of-living index", "Media exposure", "Contraceptive method used"]

dataframe = pd.read_csv(data_source, names=names)

In [8]:
dataframe[:5]

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure,Contraceptive method used
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

In [9]:
dataframe.dtypes

Wife's age                      int64
Wife's education                int64
Husband's education             int64
Number of children ever born    int64
Wife's religion                 int64
Wife's now working?             int64
Husband's occupation            int64
Standard-of-living index        int64
Media exposure                  int64
Contraceptive method used       int64
dtype: object

In [10]:
for column in range(0,10):
    if column not in [0,3]:
        dataframe[names[column]] = dataframe[names[column]].astype("category")

dataframe.dtypes
# y_data = df["Contraceptive method used"].values.reshape(-1,1)

# y_data[:5]

Wife's age                         int64
Wife's education                category
Husband's education             category
Number of children ever born       int64
Wife's religion                 category
Wife's now working?             category
Husband's occupation            category
Standard-of-living index        category
Media exposure                  category
Contraceptive method used       category
dtype: object

In [12]:
y_data = dataframe.pop("Contraceptive method used")
x_data = dataframe

In [13]:
from sklearn import preprocessing # Min-Max Standardzation

min_max_scaler = preprocessing.MinMaxScaler()
x_data= min_max_scaler.fit_transform(x_data)

x_data[:5,:6]

array([[ 0.24242424,  0.33333333,  0.66666667,  0.1875    ,  1.        ,
         1.        ],
       [ 0.87878788,  0.        ,  0.66666667,  0.625     ,  1.        ,
         1.        ],
       [ 0.81818182,  0.33333333,  0.66666667,  0.4375    ,  1.        ,
         1.        ],
       [ 0.78787879,  0.66666667,  0.33333333,  0.5625    ,  1.        ,
         1.        ],
       [ 0.60606061,  0.66666667,  0.66666667,  0.5       ,  1.        ,
         1.        ]])

In [14]:
import numpy as np 

idx=np.random.randint(y_data.shape[0], size=int(y_data.shape[0]))

training_idx = idx[:int(y_data.shape[0] * 0.8)]
test_idx = idx[int(y_data.shape[0] * 0.8):]

x_training, x_test = x_data[training_idx], x_data[test_idx]
y_training, y_test = y_data[training_idx], y_data[test_idx]

x_training.shape, x_test.shape

((1178, 9), (295, 9))

In [ ]:
from sklearn import linear_model, datasets

logreg = linear_model.LogisticRegression(multi_class='multinomial', fit_intercept=False, solver="lbfgs")
logreg.fit(x_training, y_training)

In [1]:
sum(logreg.predict(x_test) == y_test.ravel())  / y_test.shape[0]

NameError: name 'logreg' is not defined